.botonesNavbar
{
  color: crimson;
  border-style: none;
}
.abilities span {
  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  float: left;
  text-transform: none;
  font-size: 11px;
  text-align: center;
}

.background-color-planta {
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background-color: #9bcc50;
  color: #fff;
}

.background-color-veneno {
  background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background-color: #b97fc9;
  color: #fff;
}

.background-color-fuego {
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background-color: #fd7d24;
  color: #fff;
}

.background-color-volador {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}

.background-color-agua {
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background-color: #4592c4;
  color: #fff;
}

.background-color-bicho {
  background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background-color: #729f3f;
  color: #fff;
}

.background-color-psiquico {
  background: linear-gradient(180deg, #ff48b9 50%, #e64990 50%);
  background-color: #e41081;
  color: #fff;
}

.background-color-hielo{
  background: linear-gradient(180deg, #4d54d8 50%, #0317af 50%);
  background-color: #1c81df;
  color: #fff;
}

.background-color-tierra{
  background: linear-gradient(180deg, #9c7322 50%, #be7810 50%);
  background-color: #ab7510;
  color: #fff;
}

.background-color-roca{
  background: linear-gradient(180deg, #845904 50%, #815006 50%);
  background-color: #603f02;
  color: #fff;
}

.background-color-electrico{
  background: linear-gradient(180deg, #d6a33d 50%, #eeab47 50%);
  background-color: #e9e934;
  color: #fff;
}



.card {
  background-color: #fff;
  border-color: gainsboro;
}

.section {
  display: flex;
  justify-content: space-evenly;
}

.section .item {
  flex-basis: 50%;
}
.reproductor_audio {
  display: flex;
  justify-content: center;
}

.reproductor_audio .item {
  flex-basis: 90%;
}
.footerBg
{
 background-color: red;
}
.tituloFooter
{
  text-align: center;
  font-size: 50px;
}
.iconosFooter
{
  text-align: center;
  font-size: 40px;
  justify-content: center ;
  display: flex;
  
}
.textoCopy
{
 text-align: center;
 font-size: 30px;
}
.imgPokebola
{
  width: 100px;
  height: 100px;
}
.linksFooter
{
  font-size: 20px;
  text-decoration: none;
}


/* Detalles pokemon*/

#nombrePoke {
  text-align: center;
  color: black;
  font-size: 50px;

}
.paginaDetalles {
  background-color: white;
}

.descripcionPokemon {
  font-weight: bold;
}

.titulosDescripcion {
  color: black;
}

.evolucionPokemon {
  margin-bottom: 0 !important;
  border-style: none;
  border-radius: 0;
  background-color: darkgrey;
}

.container {
  margin-top: 89px;
}
.row {
  color: black;
  margin-left: 10px;
}

.borderojoquienessomos {
  border: rgba(183,14,33,255) solid 5px;
}
.quienesSomos {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 10% auto;
  border: auto;
  padding: 7p 0px;
  object-fit: cover;
}

.nosotros{
  min-height: 100vh;
  background-image: url(../img/Pokemonfondo.jpg);
  no-repeat center center fixed;
  background-size: cover;

}
.h3{
  color: rgb(31, 11, 11);
  
}
/* Media queries */

@media all and (max-width: 560px) {
  .descripcionPokemon {
    font-weight: bold;
    font-size: 15px;
  }


}


